.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodana sjena */
    transition: transform 0.3s ease; /* Dodana tranzicija za animaciju */
}

.contact-container:hover {
    transform: translateY(-5px); /* Animacija podizanja na hover */
}

.contact-info,
.commissioner-info,
.deputy-info {
    width: 80%;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Dodana sjena */
}

.contact-info h2,
.commissioner-info h2,
.deputy-info h2 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Dodana sjena na tekst */
}

.contact-info p,
.commissioner-info p,
.deputy-info p {
    color: #555;
    font-size: 1em;
    line-height: 1.6;
}

.contact-info strong,
.commissioner-info strong,
.deputy-info strong {
    font-weight: bold; /* Podebljani tekst */
    color: #222;
}

.contact-info em,
.commissioner-info em,
.deputy-info em {
    font-style: italic; /* Kurziv tekst */
    color: #777;
}

.contact-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Dodana sjena */
}

@media (max-width: 768px) {
    .contact-info,
    .commissioner-info,
    .deputy-info {
        width: 95%;
        margin-bottom: 20px;
        padding: 15px;
    }
}
